.section {
  width: 600px;
}

.wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.scroll {
  height: 700px;
  overflow-y: auto;
}

.tabs {
  display: flex;
  width: 100%;

  > div {
    flex-grow: 1;
  }
}
